@font-face {
    font-family: "font";
    src: url("/font/font.ttf");
}

body {
    background-color: black !important;
    overflow-x: hidden;
    font-family: "font" !important;
    user-select: none;
}

img {
    image-rendering: optimizeQuality;
}

.main-button {
    position: absolute;
}

.main-button > h1 {
    transition: 0.5s;
}

.btn {
    color: red;
}

.me {
    /* background-color: red; */
    z-index: 1;
    border-right: 1px solid white;
    border-image: linear-gradient(black, gray, black) 1;
    transition: 0.5s;
    filter: brightness(30%);
    width: 25vw;
    float: left;
}


.me-text {
    font-size: 16vw;
    transform: rotate(90deg);
}

.me-text-animation {
    font-size: 15vw;
    transform: rotate(0deg);
}

.me:hover {
    border-image: linear-gradient(black, white, black) 1;
    filter: brightness(100%);
}

.skills {
    /* background-color: yellow; */
    z-index: 0;
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-image: linear-gradient(black, gray, black) 1;
    transition: 0.5s;
    filter: brightness(30%);
    width: 25vw;
    float: left;
}

.skills-text {
    font-size: 14vw;
    transform: rotate(90deg);
}

.skills-text-animation {
    font-size: 9vw;
    transform: rotate(0deg);
}

.skills:hover {
    border-image: linear-gradient(black, white, black) 1;
    filter: brightness(100%);
}

.projects {
    /* background-color: green; */
    border-left: 1px solid white;
    border-right: 1px solid white;
    border-image: linear-gradient(black, gray, black) 1;
    transition: 0.5s;
    filter: brightness(30%);
    width: 30vw;
    float: left;
}

.projects-text {
    font-size: 12vw;
    transform: rotate(90deg);
}

.projects-text-animation {
    font-size: 8vw;
    transform: rotate(0deg);
}

.projects:hover {
    border-image: linear-gradient(black, white, black) 1;
    filter: brightness(100%);
}

.contact {
    /* background-color: purple; */
    border-left: 1px solid white;
    border-image: linear-gradient(black, gray, black) 1;
    transition: 0.5s;
    filter: brightness(30%);
    width: 30vw;
    float: left;
}

.contact-text {
    font-size: 13vw;
    transform: rotate(90deg);
}

.contact-text-animation {
    font-size: 9vw;
    transform: rotate(0deg);
}

.contact:hover {
    border-image: linear-gradient(black, white, black) 1;
    filter: brightness(100%);
}

/*-----------------------------------------------------------------*/

.title {
    font-size: 10vw;
}

/*-----------------------------------------------------------------*/

.about-text {
    font-size: 6.4vw;
}

/*-----------------------------------------------------------------*/

.html-text {
    font-size: 5vw;
}

.css-text {
    font-size: 5vw;
}

.js-text {
    font-size: 5vw;
}

/*-----------------------------------------------------------------*/

.discord-title {
    font-size: 5vw;
}

.discord-text {
    font-size: 2vw;
}

/*-----------------------------------------------------------------*/

.project-title {
    font-size: 5vw;
}

.project-text {
    font-size: 2vw;
}

/*-----------------------------------------------------------------*/

.fadeIn {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 100}
}